
body
{
    /* background-image: url("img/backgroundimg2.jpg"); */
	background-size:100%;
	background-attachment: fixed;
	background-color: #dfbf99;
    color: #dfbf99;
    font-family: 'champ_n';
    
}
header
{
	background-image: url("img/Fresque_murale.png");
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment: fixed;	
	z-index:0;
	height:21%;
	width: 100%;
	margin-right:auto;
	margin-left:auto;
	right:0;
}
menu
{
	background-image: url("img/banni1.png");
	background-repeat:no-repeat;
	background-size:100%;
	/*background-position: 0% -30%;*/
	margin-top:-6%;
	position:absolute;
	height:36%;
	width:auto; 
	margin-right:auto;
	margin-left:auto; 
	z-index:2;
}
footer
{
    background-color: #4a0101;
    display: hover;
    font-family: 'champ_n';
    font-size: 100%;
    color: #dfbf99;
    display: flex;
    justify-content: space-around;
	border: 3px #b98000 solid;
	margin-left:7%;
	margin-right:7%;
	height:100px;
	
    
}
#foot
{
	display:flex;
    justify-content: space-around;
	align-items: center;
}
.footin
{
	text-align:center;
	padding:50px;
}




section
{

    /* background-color:black; */
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 14px;
    padding-bottom: 14px;
    /*
    margin-bottom: 8%;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    border: 3px darkgoldenrod solid; */
    text-align: center;
	z-index:1;
    
}

#Baniere
{
	display:flex;
}
a.BoutonBaniere:hover
{
	border-bottom: 4px solid #FFCC33;
	transition: 0.1s;
	opacity:1;
	
}
a.BoutonBaniere:before
{
	
	font-family: FontAwesome;
	content: "\f0f5      ";
	font-size:50%;
	position: relative;
	top: 0px;
	left: -12px;
	right:-12px;
	color:#630000;
	bottom:5px;
	transition: all 200ms ease;
}
a.BoutonBaniere:hover:before
{
	left: 7px;
	right:7px;
	color:#FFCC33;
}
#b
{
	
	margin-top:35%;
	display:flex;
	
	

}
.BoutonBaniere
{
	font-size:290%;	
	color: FFCC33;
	opacity:0.5;
	
	overflow:hidden;


}
#accueil
{
	font-size:900%;
	padding-right:175px;
	margin-right: 113px;
}
#bouton1
{
	margin-left:60px;
	margin-right:120px;
}
#bouton2
{

	margin-right:113px;
}
#bouton3
{
	margin-right:150px
}
#bouton4
{
	margin-right:120px 
} */
#
link
{
	width:20px;
	height:10%;
	padding-top:10%;
}
a
{
	text-decoration: none;
	color: white;
}
#page 
{
	/*height:200px;*/
	width:100%;
	position: absolute;
	padding-top:10%;
}
.fixed 
{
	
	position:fixed;
	top:0;

	background-image: url("img/banni2.png");
	margin-top:-5%;
	
}

/* .banset
{
	margin-top:-5%;
}
*/

#reservation_info
{
   display: flex;
    justify-content: space-between; 
}
#reservation_titre
{
    text-align: center;
}
#localisation_titre
{
    text-align: center;
}
#reservation_formulaire
{
    font-size: 200%
}

#info_g
{
    padding-left: 8%;
    padding-right: 8%;
    /*text-align: center;*/
}

#info_d
{
    padding-left: 8%;
    padding-right: 8%;
}

#localisation
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}
#loc_g
{
	width: 60%;
	height: 400px;
}

#loc_d
{
    padding-top: 9%;
	text-align: left;
}
button, input, select, textarea {

    color: white;
    font-family: 'champ_n';
    font-size: 50%;
    
}

.boutonperso:hover
{
    color: darkgoldenrod;
    
}
@font-face /*creation police champ*/
{
    font-family : "FontAwesome";
    src:url("police/FontAwesome.otf");
} 
@font-face /*creation police champ*/
{
    font-family : "champ_n";
    src:url("police/champagne_limousines/Champagne & Limousines.ttf");
} 

@font-face /*creation olice champ gras*/
{
    font-family: "champ_g";
    src: url(police/champagne_limousines/Champagne%20&%20Limousines%20Bold.ttf);
}
@font-face
{
    font-family: "champ_i";
    src: url(police/champagne_limousines/Champagne%20&%20Limousines%20Italic.ttf);
}

b
{
    font-family: 'champ_g'
}

h1
{
    font-size: 300%
}

i
{
    font-family: 'champ_i';
}

.corpus
{
	margin-bottom:100px;
	margin-top:200px;
	margin-left:12%;
	margin-right:12%;
	
	background-color: #4a0101;
	border: 6px #b98000 solid;
	
}





.titrepress
{
    overflow:auto;
    text-align:center;
}
.press1 {
    float:left;
    
}
.press2 {
    float:right;
    font-size : 123%;
}

.paragraphe{
    text-align: justify;
}