h1 , h3{
	color:white;
	text-align: center;
	font-size: 200%;
	margin-top: 5%;
}
.para{
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
}
input[type=text],input[type=number],input[type=time],input[type=date],input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #7C0017;
    color: white;
    border: 3px solid #F07C1F;
    margin:auto;

}
button{
	background-color: #7C0017;
    color: white;
    border: 3px solid #F07C1F;
}
a{
    text-decoration: none;
    color:white;
}

label{
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin:auto;
    color:white;
}
body{
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: fixed;

}
form{
	background-color: #A70500;
	color:white;
	border: 3px solid #F07C1F;
	width:22%;
	text-align: center;
	margin:auto;
	position: center;
	padding-top: 10px;
	margin-top: 5%;
}
div{
    background-color: #A70500;
    color:white;
    border: 3px solid #F07C1F;
    width:22%;
    margin:auto;
    position: center;
    padding-top: 10px;
    margin-top: 5%;
    
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #7C0017;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align:center;
}