body
{
	background-image:url("bg.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
}
header
{
	text-align:center;
	margin-top:50px;
}
#title
{
	color: white;
	font-size:70px;
}
#menu
{
	display:flex;
	justify-content:space-around;
	margin-top:5%;
	margin-bottom:5%;
}

.Question
{
	color:white;
}
.goodtxt
{
	color:green;
	background-color: white;
}
.badtxt
{
	color:red;
	background-color: white;
}


#contener
{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
.numberin
{
	width: 100px;
	float:right;
}
.element
{
	align:center;
	width: 200px;
	text-align:justify;
}
.icone
{
	width:200px;
	height:250px;
}
#cartdiv
{
	width:200px;
	margin-left:auto;
	margin-right: auto;
}


.btn {
  background: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #dbdbdb);
  background-image: -moz-linear-gradient(top, #f5f5f5, #dbdbdb);
  background-image: -ms-linear-gradient(top, #f5f5f5, #dbdbdb);
  background-image: -o-linear-gradient(top, #f5f5f5, #dbdbdb);
  background-image: linear-gradient(to bottom, #f5f5f5, #dbdbdb);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  text-decoration: none;
}