<form id=“sports" action="">
<input type="checkbox" name="options" value="hockey" /> Hockey
<input type="checkbox" name=" options " value=“race" /> Race Skating
<input type="checkbox" name=" options " value=“figure" /> Figure Skating
</form>
