#header
{
background-color: rgba(255, 255, 255, 0.7);
width: 100%;
height: 380px;
color: black;
}
.introtxt{
	vertical-align: middle;
	text-align:center;
	possition: absolute;
}
#menu{
	background-color: rgba(255, 255, 255, 0.7);
}
ul#menu li{
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
a:link{
	text-decoration:none;
}
.button:hover{
	background-color: black;
	border-color:white;
	color:white;
}
.button{
	margin-left:70px;
	margin-top:10px;
	margin-right:70px;
	margin-bottom:10px;
	text-align: center;
	background-color: white;
	display:block;
	border-radius: 5px;
	color: black;
	width: 350px;
	line-height:50px;
	font-family: "Arial";
	font-size: 25px;
	border: 2px solid black;
}

#corpus{
	background-image:url("body.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.article{
	background-color: rgba(255, 255, 255, 0.7);
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:20px;
	
}
#tablehobbies{
	border-collapse: collapse;
}
td{
	border: 1px solid black;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}

.GIF{
	height:200px;
	width:300px; 
}
#imgq12{
	width:525px;
	height:150px;
}