 #one {padding-top:50px;height:400px;color: #fff; background-color: #1E88E5;}
 #two {padding-top:50px;height:400px;color: #fff; background-color: #673ab7;}
 #three {padding-top:50px;height:400px;color: #fff; background-color: #ff9800;}
 #home {padding-top:50px;height:900px;color: #fff; background-color: #e9a658;}
 #center {display:flex; justify-content: space-around; margin-top:100px;}
 #desc {margin-left:30%; margin-right:30%; margin-top:100px;}
 #textcenter {text-align:center;margin-top:120px; margin-left:20%; margin-right:20%;}
 