Eminem_Discography
{
	background-color:black;
	width:100%;
}
album
{
	display: block;
	margin-top:20px;
	margin-left:30%;
	margin-right:30%;
}
name
{
	display: block;
	color:yellow;
	font-size:100%;
}
date, sales
{	
	display: block;
	color:white;
	font-size:90%;
}
title
{
	color:orange;
	font-size:150%;
	margin-left:40%;
}
questions
{
	display: block;
	margin-top:20px;
	margin-left:30%;
	margin-right:30%
}
titleq
{
	font-size:150%;
	margin-left:40%;
	color:red;
}
question
{
	display: block;
	color:orange;
	font-size:90%;
}